body {
    margin: 0;
    background-image: url(images/Desktop/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/* Background 1st Layer*/

.background {
    width: 85vw;
    margin: 20vh auto;
    background-color: rgba(69, 0, 0, 0.5);
    padding: 2vw;
    border-radius: 30px;
    box-sizing: border-box;
}

/* METALLICA: */

header > h1{
    margin: 0;
    line-height: 0.8;
    text-shadow: 20px 10px 10px black;
    color: yellow;
    font-family: 'Bungee Outline';
}

/* Navigation: */

nav {
    display: flex;
    justify-content: space-between;
    margin: 5vw 0;
    font-family: 'Barlow Condensed';
    text-shadow: 20px 10px 5px darkred;
}

nav > div {
    display: flex;
    justify-content: center;
    width: 20vw;
    background-color: rgba(255, 0, 0, 0.5);
    padding: 1vw 0;
    border: solid 3px black;
    border-radius: 10px;
    font-weight: bold;
    box-sizing: border-box;
}

nav > .unmarked:hover {
    cursor: pointer;
    background-color: black;
    color: red;
    border: solid 3px orange;
    box-sizing: border-box;
}

.marked {
    background-color: black;
    color: red;
    border: solid 3px orange;
}

/* Background 2nd Layers */

.best {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: rgba(255, 0, 0, 0.5);
    padding: 1vw;
    border: solid 3px black;    
    border-radius: 30px;
    margin-bottom: 2vw;
    box-sizing: border-box;
}

/* Album Data: */

.album_data {
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
    text-shadow: 10px 10px 15px black;
    padding-right: 1vw;
}

.album_data h1 {
    font-family: 'Bungee Shade';
    line-height: 0.8;
    margin: 0;
} 

.album_data h2 {
    font-family: 'Barlow Semi Condensed';
    color: yellow;
    padding: 2vw 0;
    margin: 0;
}

p, h2, ul, footer{
    font-family: 'Barlow Condensed';
    list-style: none;
    font-weight: bold;
}

/* Cover and Song Lists: */

.cover {
    grid-column: 4 / span 2;
    position: relative;
    box-sizing: border-box;
}

.show_not_hover {
    border-radius: 20px 20px 0 0;
    width: 100%;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 1s;
    position: absolute;
    right: 0;
}

.show_hover {
    border-radius: 20px 20px 0 0;
    width: 100%;
}

.show_not_hover:hover {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
}

.song_list {
    grid-column: 4 / span 2;
    grid-row: 2;
    display: flex;
    gap: 1vw;

}

.song_list > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: red;
    text-shadow: 20px 10px 5px darkred;
    width: 100%;
    margin-top: 1vw;
}

.song_list > div > ul {list-style: decimal;}
.song_list > div > h2 {margin-left: 1.5vw;}
.song_list > div:nth-child(1) {border-radius: 0 0 0 20px;}
.song_list > div:nth-child(2) {border-radius: 0 0 20px 0;}


.anecdotes {
    padding-left: 0;
    gap: 1%;
    grid-column: 1 / span 5;
    display: flex;
    list-style: none;
    color: red;
    text-shadow: 20px 10px 5px darkred;
    margin-bottom: 0;
    height: 25vw;
}

/* "Load" Anecdotes: */

#load .top_right_90 {
    display: flex;
    align-items: center;
    background-color: black;
    border-radius: 20px 0 20px 20px;
    padding: 1vw;
    width: 16.5%;
    box-sizing: border-box;
}

#load .desktop_empty{
    width: 16.5%;
}

#load .bottom_left_90 {
    display: flex;
    align-items: center;
    background-color: black;
    border-radius: 20px 20px 20px 0;
    padding: 1vw;
    width: 33%;
    box-sizing: border-box;
}

.image_1 {
    display: flex;
    align-items: flex-end;
    background-image: url(images/Desktop/metallica1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0 20px 20px 20px;
    width: 16.5%;
    color: orange;
    text-shadow: 5px 5px 2px darkred;
    font-style: italic;
    font-weight: bold;
    padding-bottom: 2vw;
}

#load .bottom_right_90 {
    display: flex;
    align-items: center;
    background-color: black;
    border-radius: 20px 20px 0 20px;
    padding: 1vw;
    width: 16.5%;
    box-sizing: border-box;
}

/* "Reload" Anecdotes: */

.bottom_left_90 {
    display: flex;
    align-items: center;
    background-color: black;
    border-radius: 20px 20px 20px 0px;
    width: 33%;
    padding: 1vw;
    box-sizing: border-box;
}

.top_left_90 {
    display: flex;
    align-items: center;
    background-color: black;
    border-radius: 20px 0 20px 20px;
    width: 16.5%;
    padding: 1vw;
    box-sizing: border-box;
}

.image_2 {
    display: flex;
    align-items: flex-end;
    background-image: url(images/Desktop/metallica2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0 20px 20px 20px;
    width: 33%;
    padding: 2vw;
    color: orange;
    text-shadow: 5px 5px 2px darkred;
    box-sizing: border-box;
}

.bottom_right_90 {
    display: flex;
    align-items: center;
    background-color: black;
    border-radius: 20px 20px 0 20px;
    width: 16.5%;
    padding: 1vw;
    box-sizing: border-box;
}

.tablet_empty_1 {display: none;}
.tablet_empty_2 {display: none;}

footer {
    color: yellow;
    padding-top: 5vw;
}

/* Responsiveness Mode Desktop: */
/* Font-Sizes for Desktop View: */

@media (min-width: 1111px) {
    header > h1 {font-size: 88.8167px;}
    nav > div {font-size: 22.2px;}
    .album_data h1,
    .album_data h2 {font-size: 33.3px;}
    p, h2, ul, footer{font-size: 16.65px;}
}
@media (max-width: 1111px) and (min-width:900px) {
    header > h1 {font-size: 8vw;}
    nav > div {font-size: 2vw;}
    .album_data h1,
    .album_data h2 {font-size: 3vw;}
    p, h2, ul, footer{font-size: 1.5vw;}
}
@media (max-width: 900px) and (min-width: 800px){
    header > h1 {font-size: 72.05px;}
    nav > div {font-size: 18px;}
    .album_data h1,
    .album_data h2 {font-size: 27px;}
    p, h2, ul, footer{font-size: 13.5px;}
}

/* Responsiveness Mode Tablet: */

@media (max-width: 800px) {
    header > h1{
        text-align: center;
    }

    .best {
        grid-template-columns: repeat(3, 1fr);
    }

    .cover {
        grid-column: 1 / span 2;
        background-color: black;
        border-radius: 20px 0 0 20px;
    }

    .show_hover {display: none;}
    .show_not_hover:hover {opacity: 1;}

    .show_not_hover{
        border-radius: 20px 0 0 20px;
    }
    
    .song_list {
        flex-direction: column; 
        grid-column: 3;
        grid-row: 1;
        margin-left: 1vw;
    }

    .song_list > div:nth-child(1){
        border-radius: 0 20px 0 0;
        margin-top: 0;
    }

    .song_list > div:nth-child(2){
        border-radius: 0 0 20px 0;
    }

    .album_data {
        grid-column: 1 / span 5;
        grid-row: 2;
        margin-top: 5vw;
    }

    #load .top_right_90 {
        width: 25%;
        grid-row: 3;
    }
    #load .desktop_empty {width: 25%;}
    #load .bottom_left_90 {width: 50%;}
    #load .tablet_empty_1 {
        width: 25%;
        grid-row: 4;
    }
    #load .top_left_90 {width: 25%;}
    #load .bottom_right_90 {width: 25%;}
    #load .tablet_empty_2 {width: 25%;}

    .desktop_empty {width: 100%;}
    .tablet_empty_1 {width: 100%;}
    .tablet_empty_2 {width: 100%;}
}