body {
    margin: 0;
    background-image: url(images/Desktop/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.background {
    width: 85vw;
    margin: 20vh auto;
    background-color: rgba(69, 0, 0, 0.5);
    padding: 2vw;
    border-radius: 30px;
    box-sizing: border-box;
}

header > h1{
    margin: 0;
    font-size: 78px;
    line-height: 0.8;
    text-shadow: 20px 10px 10px black;
    color: yellow;
    font-family: 'Bungee Outline';
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 4vw 0;
    font-family: 'Barlow Condensed';
    text-shadow: 20px 10px 5px darkred;
}

nav > div {
    display: flex;
    justify-content: center;
    width: 20vw;
    background-color: rgba(255, 0, 0, 0.5);
    padding: 1vw 0;
    border: solid 3px black;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
    box-sizing: border-box;
}

nav > .unmarked:hover {
    cursor: pointer;
    background-color: black;
    color: red;
    border: solid 3px orange;
    box-sizing: border-box;
}

.marked {
    background-color: black;
    color: red;
    border: solid 3px orange;
}

.best {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 18vw) 23vw;
    background-color: rgba(255, 0, 0, 0.5);
    padding: 1vw;
    border: solid 3px black;    
    border-radius: 30px;
    margin-bottom: 2vw;
    box-sizing: border-box;
}

.album_data {
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
    text-shadow: 10px 10px 15px black;
}

.album_data h1 {
    font-size: 23px; 
    font-family: 'Bungee Shade';
    line-height: 0.8;
    margin: 0;
} 

.album_data h2 {
    font-family: 'Barlow Semi Condensed';
    font-size: 23px;
    color: yellow;
    padding-bottom: 2vw;
}

p, h2, ul, footer{
    font-size: 16.5px;
    font-family: 'Barlow Condensed';
    list-style: none;
    font-weight: bold;
}

.cover {
    grid-column: 4 / span 2;
    grid-row: 1 / span 2;
    position: relative;
}

.show_not_hover {
    border-radius: 50px 50px 0 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 1s;
    position: absolute;
    right: 0;
}

.show_hover {
    border-radius: 50px 50px 0 0;
    width: 100%;
    height: 100%;
    grid-column: 4 / span 2;
    grid-row: 1 / span 2;
}

.show_not_hover:hover {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
}

.song_list {
    grid-column: 4 / span 2;
    grid-row: 3;
    display: flex;
    justify-content: space-around;
    gap: 1vw;
    line-height: 1;
}

.song_list > div {
    background-color: black;
    color: red;
    text-shadow: 20px 10px 5px darkred;
    width: 100%;
    margin-top: 1vw;
}

.song_list > div > ul {list-style: decimal;}
.song_list > div > h2 {margin-left: 1.5vw;}
.song_list > div:nth-child(1) {border-radius: 0 0 0 50px;}
.song_list > div:nth-child(2) {border-radius: 0 0 50px 0;}


.anecdotes {
    padding-left: 0;
    gap: 1%;
    grid-column: 1 / span 5;
    grid-row: 4;
    display: flex;
    list-style: none;
    color: red;
    text-shadow: 20px 10px 5px darkred;
    margin-bottom: 0;
}

#load .top_right_90 {
    display: flex;
    align-items: center;
    background-color: black;
    border-radius: 20px 0 20px 20px;
    padding: 1vw;
    width: 16.5%;
    box-sizing: border-box;
}

#load .desktop_empty{
    width: 16.5%;
}

#load .bottom_left_90 {
    display: flex;
    align-items: center;
    background-color: black;
    border-radius: 20px 20px 20px 0;
    padding: 1vw;
    width: 33%;
    box-sizing: border-box;
}

.image_1 {
    display: flex;
    align-items: flex-end;
    background-image: url(images/Desktop/metallica1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0 20px 20px 20px;
    width: 16.5%;
    color: yellow;
    text-shadow: 20px 10px 5px darkred;
    font-style: italic;
    font-weight: bold;
    padding-bottom: 2vw;
}

#load .bottom_right_90 {
    display: flex;
    align-items: center;
    background-color: black;
    border-radius: 20px 20px 0 20px;
    padding: 1vw;
    width: 16.5%;
    box-sizing: border-box;
}

.bottom_left_90 {
    display: flex;
    align-items: center;
    background-color: black;
    border-radius: 20px 20px 20px 0px;
    width: 33%;
    padding: 1vw;
    box-sizing: border-box;
}

.top_left_90 {
    display: flex;
    align-items: center;
    background-color: black;
    border-radius: 20px 0 20px 20px;
    width: 16.5%;
    padding: 1vw;
    box-sizing: border-box;
}

.image_2 {
    display: flex;
    align-items: flex-end;
    background-image: url(images/Desktop/metallica2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0 20px 20px 20px;
    width: 33%;
    padding: 2vw;
    color: yellow;
    text-shadow: 20px 10px 5px darkred;
    box-sizing: border-box;
}

.bottom_right_90 {
    display: flex;
    align-items: center;
    background-color: black;
    border-radius: 20px 20px 0 20px;
    width: 16.5%;
    padding: 1vw;
    box-sizing: border-box;
}

.tablet_empty {display: none;}
.phone_empty {display: none;}

footer {
    color: yellow;
    font-size: 1.5vw;
    padding-top: 5vw;
}

@media (max-width: 1111px) {
    header > h1 {font-size: 7vw;}
    nav > div {font-size: 1.5vw;}
    .album_data h1,
    .album_data h2 {font-size: 2vw;}
    p, h2, ul, footer{font-size: 1.45vw;}

}